/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30/03/2020, 09:13:05 PM
    Author     : Mario
*/

/* Cashier transfer css  starts here */

::-webkit-input-placeholder { color: #9DDCFC; } 

:-moz-placeholder { /* Firefox 18- */ color: #9DDCFC; } 

::-moz-placeholder { /* Firefox 19+ */ color: #9DDCFC; } 

:-ms-input-placeholder { color: #9DDCFC; }


.transfer_display{
  border: black solid medium;
  padding: 0;
  background-color: rgba(0,0,0,0.8);
}

.cashier_size{
  margin: 10px auto;
  width: 750px;
  height: 450px;
}

.deposit_size
{
  margin: 50px auto;
  width: 700px;
  height: 350px;
}

.retire_size
{
  margin: 50px auto;
  width: 700px;
  height: 350px;
}

.interest_size{
  margin: 50px auto;
  width: 550px;
  height: 80px;
}

.client_size{
  margin: 40px auto;
  width: 600px;
  height: 400px;
}

.login_size{
  margin: 100px auto;
  width: 400px;
  height: 135px;
}

.about_size{
  margin: auto auto;
  border-style: solid;
  border-width: thick;
  border-radius: 6px;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
}

.transfer_display table{
  border-collapse:collapse;
  background: transparent;
  color:white;
  border:none;
}

.transfer_display td, tr{
  color:white;
  
}

.transfer_display table th{
  text-align: left;
  background-color: rgba(0,0,0,0.5);
}

.transfer_display input[type="text"], input[type="password"]{
  background: rgba(0,191,255,0.5);
  margin-bottom: 0px;
  border: none;
  padding: 8px;
  border-radius: 5px;  
}

.transfer_display select option{
  color:black;
  background-color: white;
}

/*Cashier transfer css ends here*/

