
html 
{
  height: 99.5%;
}

body {
  height: 98%;
  background-image: url("../images/fondo_body2.jpg");
  background-size: cover;
  background-attachment: fixed;  /*Fija la imagen de fondo por lo que no se desfigura en claso de necesitar un deslizador*/
  background-repeat: no-repeat;
  background-position: center center;  
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}
img {
  max-width: 100%;
  max-height: 100%;
  padding-left: 10px;  
   vertical-align: middle;
  display: inline-block;
}
p {
  vertical-align: middle;
  display: inline-block;
}
/*Clase para la lista en forma de menu*/
.nav li a{
   background-color: rgba(0,0,0,0.5); /*Menu backgoround set to black before it was blue rgba(0,191,255,0.5)*/
  color:white; /* yellow*/
  text-decoration: none;
  padding: 10px 15px;
  display: block;
}

.nav > li {
 
  float: left;
}

.nav li a:hover{
  background-color: rgba(0,191,255,0.5); /*Changed from yellow to blue */
  color: yellow;
}

.nav li ul{
  display: none;
  position: absolute;
  min-width: 100px;
}

.nav li:hover > ul{
  display: block;
}
ul, ol{
  list-style:none;
  margin: 0;
  padding: 0;
}
 /*termina */
form {
  display: flex;/*
*/  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

form table {
  border: 5px solid darkgray;
  background-color: white;
  padding: 5px;
}

form table tr td {
  padding: 5px;
  color:black;
}

.banner {
  background: rgb(0,191,255);
    background: rgba(0,0,0,0.5); /*Changed to black from blue rgba(0,191,255,0.5)*/
  color: white; /*yellow*/
  font-weight: bold;
}

.bar_list{
    width: 100%;
    height: 38px;
    background: rgb(0,191,255);
    background: rgba(0,0,0,0.5);
}
div.banner{
    height: 90px;
    width: 100%;
}
.body {
  
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.login {
  color: black;
}

.title {
  text-align: center;
  font-weight: bold;
  font-size: larger;
}

.desc {
  text-align: right;
  padding-right: 10px;
 
  vertical-align: middle; 
  font-size: smaller;
  background: rgb(0,191,255); /* The Fallback */
  background: rgba(0,0,0,0.5); /*Footer color changed to black*/
  color: white; /*yelllow*/
  height: 35px;
}

div.banner p{
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: x-large;  
}

#acc_table{
    margin: 85px auto;
    width: 800px;
    
}

.Acc_tables{
    border-collapse: collapse; /*Quitar espacios entre los bordes*/
    background-color: rgba(0,0,0,0.5); /*Fondo de la tabla*/
    text-align: left;
    width: 100%;
   
}

.Acc_tables th,td{
    padding: 10px;
    border: solid 1px black;
    color: yellow; /*letras de la tabla*/
}

table.Acc_tables thead{
    
    background-color: rgba(0,0,0,0.5);  /*titulo de la tabla*/
    border-bottom: solid 5px;
    color: yellow;
}

.Acc_tables tr:nth-child(even){   /*nthchild es una forma de elegir ciertos atributodcomo "pares" "impares" en este caso
                                  se usa para seleccionar los tr pares mediante el parametro even, otro ejemplo es el 
                                  parametro odd que toma los pares incluyendo 0" */
    background-color: rgba(0,191,255,0.5);
}

.Acc_tables tr:hover td{
    background-color: rgba(255,255,0,0.5);
    color:white;
    
}

